.div1{
width: 65%;
margin: auto;
display: flex;
align-items: center;
margin-top: 200px;

}
.div2{
width: 65%;
min-width: 300px;

}
.div7{
width: 30%;
min-width: 300px;

}
.div4{
width: 65%;
display: flex;
justify-content: space-around;
margin-left: 15%;
margin-top:100px;
}
.div6{
  display: flex;
  justify-content: space-around;
}
.button1{ 
  width: 450px; 
  height: 49px; 
  border-radius:5px ;
  border-color: grey;
  color: black;
  background-color: white;
  font-size: 16px;
}
.button2{
  width: 200px; 
  height: 49px; 
  margin-left: 20px;
  border-radius:5px ;
  border-color:#116FC3;
  color:white;
  background-color:#116FC3;
  font-size: 20px;
}
.button3{
  width: 60px; 
  height: 27px; 
  border-radius:5px ;
  border-color:#116FC3;
  color:white;
  background-color:#116FC3;
  font-size: 12px;
}
