.main3{
  width: 100%;
  height: 50px;
  background-color:#116FC3;
  margin: auto;
  margin-top: 30px;
}
.main5{
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin-left:12.7%;
}
.h4{
  font-size: 18px;
  color: white;
  margin-top: 9px;
}
.h1{
  font-size: 30px;
  margin-left:12.7% ;
  margin-top: 80px;
}
.button4{
    width: 200px; 
  height: 49px; 
  margin-left: 20px;
  border-radius:5px ;
  border-color:#116FC3;
  color:white;
  margin-bottom: 20px;
  background-color:#116FC3;
  font-size: 20px;
}
.button5{
  width: 950px; 
  height: 49px; 
  border-radius:5px ;
  border-color: grey;
  color: black;
  background-color: white;
  font-size: 16px;
  margin-bottom: 20px;
 padding-left: 30px;
}
.main6{
    margin-left:12.7% ;
    margin-top: 50px;
}
.main7{
  width: 100%;
  height: 80px;
margin-top: -10px;
  background-color:#D9D9D9;
}
.main4{
margin-top: -20px;
}
.h2{
  font-size: 30px;
  margin-left:12.7% ;
  margin-top: 40px;
}
.img10{
  width:1043px;
  height: 581px;
  margin-left:15% ;
  margin-top: 40px;
}
.main22{
  width: 30%;
}
.main81{
  width: 70%;
}
.main8{
  margin-left: 12.7% ;
}
.glavn-div{
width: 80%;
display: flex;
justify-content: space-between;
align-items: center;
}
@media (max-width: 800px){
  .glavn-div{
margin-top: -100px !important;
  }
  .main5{
    display: block;
  }
  .main3{
    width: 100%;
  height: 300px;
  background-color:#116FC3;
  }
  .button5{
    width: 365px;
  }
  .button4{
    margin-left: 18%;
  }
  .img10{
    width: 490px;
    height: 310px;
    margin-left: -6px;
  }
  .img11{
    margin-left: -47px;
  }
  .kalendar{
    margin-left: -500%;
    margin-top: 700px !important;
  }
  .k1 h1{
    width: 450px;
font-weight: 600;
  }
  .k1 p{
    
font-weight: 400;
  }
  .kun p{
    width: 55px;
    font-weight: 400;
  }
  .k2{
    width: 40px !important;
  display: flex;
justify-content: space-between;
margin-top: 20px;
  }
  .soat1{
   justify-content: space-around;
   width: 20px;
  }
  .we{

    width: 150px;
    font-size: 15px;
  }
  .main9{
    margin-left: -8%;
    margin-top: 200px;
  }
  .kalendar2{
    margin-left: -500%;
    margin-top: 400px !important;
  }
}
.img22{
  width: 160px;
  height: 140px;
}
.img23{
  width: 150px;
  height: 150px;
}
.main9{
  width: 450px;
  display: flex;
  justify-content: space-between;
}
.main10{
  display: flex;
  margin-top: 30px;
}
.h41{
  font-size: 20px;
  color: #116FC3;
    font-weight: 400;
}
.main11{
  margin-left: 80px;
  margin-top: -30px;
}
.main12{
  margin-left: 80px;
   margin-top: -30px;
}
.h42{
  color:dimgray;
  font-weight: 400;
  margin-top: -15px;
  font-size: 17px;
  
}
.we{

font-weight: 600;
}

.h43{
  margin-top:-20px;
    font-weight: 400;
}
.h44{
  margin-top: -20px;
    color:dimgray;
  font-weight: 400;
}
.h45{
  width: 100%;
  color: #116FC3;
  margin-left: 0px;
  margin-top: -18px;
  font-size: 18px;
    font-weight: 400;
}
.h46{
    margin-top: -20px;
    color:dimgray;
    font-size: 15px;
  font-weight: 400;
}
.h47{
  width: 100%;
  color: #116FC3;
  margin-left: 0px;
  margin-top: -18px;
  font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
background-color: antiquewhite;
  }
.icon-money{
font-size: 14px;
}
.h48{
      margin-top: -20px;
    color:rgb(0, 0, 0);
    font-size: 15px;
  font-weight: 400;
}
.main25{
width: 100%;
background-color: white;
margin: auto;
text-align: center;
}
.main23{
width: 100%;
background-color:white;
margin: auto;
text-align: center;
}
.star{
  font-size:22px;
  margin-top: 20px;
}
.p1{
margin-top: -5px;
color: #116FC3;
}
.kalendar{
width: 100%;
margin-top: -80px;
}
.kalendar2{
width: 100%;
margin-top: 100px;
}
.kundd{
width: 25%;

}
.kun6 p{
line-height: 0px;
}
.kun1 p{
line-height: 0px;
}
.kun2 p{
line-height: 0px;
}
.kun3 p{
line-height: 0px;
}
.kun4 p{
line-height: 0px;
}
.kun5 p{
line-height: 0px;
}
.kun7 p{
line-height: 0px;
}

.kun{
  width: 100%;
  display: flex;
justify-content: space-between;

}
.k2{
  width: 100%;
  display: flex;
justify-content: space-between;
margin-top: 20px;
}
.k1 h1{
font-size: 25px;
font-weight: 600;
}
.soat1{ 
  width: 50px; 
  height: 30px; 
  border-radius:5px ; 
  background-color: #116FC3; 
}
.main12{
  margin-top: 40px;
}
.img23{
  margin-top: 80px;
}
.padruga{
margin-top: 3px;
margin-left: 4px;
}
.span{
  margin-top: -50px;
}