.main3{
width: 100%;
height: 50px;
background-color:#116FC3;
margin: auto;
margin-top: 30px;
}
.main5{
display: flex;
justify-content: space-around;
width: 50%;
margin: auto;
}
.h4{
font-size: 18px;
color: white;
margin-top: 9px;
}
.hi{
font-size: 15px;
margin-left:12.7% ;
margin-top: 80px;
color:#4F4F4F;
}
.main9{
margin: auto;
margin-left: 400px;
  margin-top: 80px;
}
.kalendar3{
display: block;
margin-left: 55%;
margin-top: -17%;
}
.we{

font-weight: 600;
}
.kun{
width: 100%;
display: flex;
justify-content: space-between;
justify-content: space-around;
width: 38%;
margin-top: 127px;
margin-bottom: 20px;
}
.k1 h1{
font-size: 25px;
font-weight: 600;
}
.k2{
width: 100%;
display: flex;
justify-content: space-between;
width: 40%;
margin-top: 0px;
flex-wrap: wrap;
}
.soat1{ width: 50px; height: 30px; background-color: #116FC3; margin-bottom: 10px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px;}
.padruga{
margin-top: 3px;
margin-left: 4px;
}
.kun6 p{
line-height: 0px;
text-align: center;
}
.kun1 p{
line-height: 0px;
}
.kun2 p{
line-height: 0px;
}
.kun3 p{
line-height: 0px;
}
.kun4 p{
line-height: 0px;
}
.kun5 p{
line-height: 0px;
}
.kun7 p{
  text-align: center;
line-height: 0px;
}
.lo{
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.mir{
  width: 850px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.oo{
    width: 80%;
  display: flex;
  justify-content: space-around;
}
.ho{
      width: 80%;
  display: flex;
  justify-content: space-around;
}
.ze{
   width: 850px;
  margin-top: 50px;
}
.lopsan{
margin-left: 30%;
}
.t{
width: 30%;
display: flex;
justify-content: space-between;
align-items: center;
}
.rt h1{
  width: 500px;
   color: rgb(66, 66, 210);
font-weight: 600;
}
.rl{
  margin-left: 25%;

}
.lp h1{
  width: 500px;
  color: rgb(66, 66, 210);
font-weight: 600;
}
.sa{
  font-weight: 900;
}
.df{
    font-weight: 900;
}
.yu{
    font-weight: 900;

}
.lo{
  margin-left: 8.8%;
}
.gh h1{
  width: 500px;
   color: rgb(66, 66, 210);
font-weight: 600;
}
.li{
  margin-left: 25%;
}
.oo{
   margin-left: 8.8%; 
}
.fg{
  margin-left: 25%;
}
.ho{
  margin-left: 8.8%; 
}
.lopsan{
  margin-top: 6%;
}

.virtup{
  display: flex;
  margin-left: -15%;
  margin-top: 30px;
}
.smilep{
  display: block;
}

.smilp{
  display: flex;
  justify-content: space-around;
  width: 120%;
}
.lire{
  display: flex;
   justify-content: space-around;
  width: 80%;
  margin-left: 1px;
}
.kjsd{
  margin-left: -150px;
  font-size: 20px;
  margin-top: -25px;
} 
.birer{
  font-size: 23px;
   font-weight: 600;
   margin-left: 28px;
margin-bottom: 20px;
}
button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
}










































