.main3{
width: 100%;
height: 50px;
background-color:#116FC3;
margin: auto;
margin-top: 30px;
}
.main5{
display: flex;
justify-content: space-around;
width: 50%;
margin: auto;
}
.h4{
font-size: 18px;
color: white;
margin-top: 9px;
}
.hi{
font-size: 15px;
margin-left:12.7% ;
margin-top: 80px;
color:#4F4F4F;
}
.main9{
margin: auto;
margin-left: 400px;
  margin-top: 80px;
}
.kalendar3{
display: block;
margin-left: 55%;
margin-top: -17%;
}
.we{

font-weight: 600;
}
.kun{
width: 100%;
display: flex;
justify-content: space-
;
justify-content: space-around;
width: 38%;
margin-top: 127px;
margin-bottom: 20px;
}
.k1 h1{
font-size: 25px;
font-weight: 600;
}
.k1{
  margin-top: 8%;
}
.k2{
width: 100%;
display: flex;
justify-content: space-
;
width: 40%;
margin-top: 0px;
flex-wrap: wrap;
}
.soat1{ width: 50px; height: 30px; background-color: #116FC3; margin-bottom: 10px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px;}
.padruga{
margin-top: 3px;
margin-left: 4px;
}
.kun6 p{
line-height: 0px;
text-align: center;
}
.kun1 p{
line-height: 0px;
}
.kun2 p{
line-height: 0px;
}
.kun3 p{
line-height: 0px;
}
.kun4 p{
line-height: 0px;
}
.kun5 p{
line-height: 0px;
}
.kun7 p{
  text-align: center;
line-height: 0px;
}
.lo{
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.mir{
  width: 850px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.oo{
    width: 80%;
  display: flex;
  justify-content: space-around;
}
.ho{
      width: 80%;
  display: flex;
  justify-content: space-around;
}
.ze{
   width: 850px;
  margin-top: 50px;
}
.lopsan{
margin-left: 0px;
}
.t{
width: 30%;
display: flex;
justify-content: space-
;
align-items: center;
}
.rt h1{
  width: 500px;
   color: rgb(66, 66, 210);
font-weight: 600;
}
.rl{
  margin-left: 25%;

}
.lp h1{
  width: 500px;
  color: rgb(66, 66, 210);
font-weight: 600;
}
.sa{
  font-weight: 900;
}
.df{
    font-weight: 900;
}
.yu{
    font-weight: 900;

}
.lo{
  margin-left: 8.8%;
}
.gh h1{
  width: 500px;
   color: rgb(66, 66, 210);
font-weight: 600;
}
.li{
  margin-left: 25%;
}
.oo{
   margin-left: 8.8%; 
}
.fg{
  margin-left: 25%;
}
.ho{
  margin-left: 8.8%; 
}
.lopsan{
  margin-top: 6%;
  margin-left: 25%;
}

/* .virtup{
  display: flex;
  margin-left: -15%;
  margin-top: 30px;
}
.smilep{
  display: block;
  margin-top: 50px;
     font-weight: 600px;
}
.smiler h2{
    font-weight: 600px;
}

.smilp{
  display: flex;
  justify-content: space-around;
  width: 120%;
  margin-bottom: 20px;
}
.lire{
  display: flex;
   justify-content: space-around;
  width: 80%;
  margin-left: 1px;
}
.kjsd{
  margin-left: -150px;
  font-size: 20px;
  margin-top: -25px;
} 
.birer{
  font-size: 23px;
   font-weight: 600 px;
   margin-left: 28px;
margin-bottom: 20px;
}
button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
} */




.virtup{
   width: 80%;
   min-height: 550px;
   display: flex;
   justify-content: space-around;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   background-color: rgb(238, 238, 238);
   margin: auto;
}
.birer{
  font-size: 25px;
   font-weight: 600;
   margin-left: 20px;
   margin-bottom: 3px;
}
.smilep{ width: 100%; display: flex; justify-content: start; gap: 50px; flex-wrap: wrap; background-color: rgb(255, 255, 255); border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px;
}
.ytsd{ 
  width: 70%;
}
.kjsd h4{
margin-left: 20px;
}
.kjsd{ width: 350px; height: max-content; border-radius: 10px; background-color: hsl(0, 0%, 99%); -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; margin-top: 37px; font-size: 21px;
}
.ikki{ width: 321.9px; height: max-content; background-color: rgb(255, 255, 255); border-radius: 20px;

}
.ikki h2{
  margin-left: 15px;
}
.ikki h4{
  margin-left: 15px;
}
.ikki1{
  width: 321.9px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-top: -20px;
}
.ikki1 h2{
  margin-left: 15px;
}
.ikki1 h4{
  margin-left: 15px;
}
button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: rgb(235, 235, 235);
    margin-left: 15px;
    margin-top: 10px;
} 
.birer1{
  font-size: 25px;
   font-weight: 600;
   margin-left: 20px;
   margin-bottom: 3px;
}
.smilep1{ width: 143%; display: flex; justify-content: start; gap: 50px; flex-wrap: wrap; background-color: rgb(255, 255, 255); border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px;
}
.ytsd1{ 
  width: 70%;
}
.ikki2{ width: 321.9px; height: max-content; background-color: rgb(255, 255, 255); border-radius: 20px;

}
.ikki2 h2{
  margin-left: 15px;
}
.ikki2 h4{
  margin-left: 15px;
}
.ikki3{
  width: 321.9px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-top: -20px;
}
.ikki3 h2{
  margin-left: 15px;
}
.ikki3 h4{
  margin-left: 15px;
}
.birer1{
  font-size: 25px;
   font-weight: 600;
   margin-left: 20px;
   margin-bottom: 3px;
}
.smilep3{ width: 204%; display: flex; justify-content: start; gap: 50px; flex-wrap: wrap; background-color: rgb(255, 255, 255); border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px;
}
.ytsd1{ 
  width: 70%;
}
.ikki2{ width: 321.9px; height: max-content; background-color: rgb(255, 255, 255); border-radius: 20px;

}
.ikki2 h2{
  margin-left: 15px;
}
.ikki2 h4{
  margin-left: 15px;
}
.main26{
  margin-left: 20px;
  margin-top: -45px;
  background: none;
}
.star{
color: rgb(226, 226, 32);
}
.star1{
  color: rgb(197, 197, 197);
}
.smilep4{
  width: 292%; display: flex; justify-content: start; gap: 50px; flex-wrap: wrap; background-color: rgb(255, 255, 255); border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px;
}
.smilep5{
  width: 418%; display: flex; justify-content: start; gap: 50px; flex-wrap: wrap; background-color: rgb(255, 255, 255); border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px;
}
.er{
  width: 900px;
  height: 35px;
  margin-left: 8%;
  margin-top: -10px;
  margin-bottom: 10px;
  color: rgb(167, 167, 167);
}
.ikki8 h2{
margin-left: 70px;
}
.h2{
     font-weight: 600;
}































































